ul,
body{
    margin: 0;
}

.danhmuc{
    background-color: #2FA4E7;

}
.danhmuc-muc{
    margin: 10px;
}
.danhmuc-danhsach{
    display: flex;
    list-style: none;

}
.danhmuc-link{
    color: white;
    text-decoration: none;
    font-size: 18px;

}
.danhmuc-link:hover {
    color:gray;
    font-weight: bold;
    cursor: pointer;
}
.logo{
    height:100px;
    background-color: rgb(18, 224, 228);
}
main{
    display: flex;  
}
.left{
    width: 80%;
        /* height:1000px;
        background-color: green; */
    
}
.right{
    width: 20%;
    background-color: blueviolet;
    height: 1000px;
}
.tieude{
    background-color: #2FA4E7;
    padding: 10px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}
.tintuc-danhsach{
    display: flex;
    justify-content: space-between;
    
}
.baiviet{
    background-color: rgb(181, 13, 227);
    width: 30%;
}
.anhtintuc{
    width: 100%;
}
